html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    background-color: #302231;
    overflow-y: hidden;
    height: 100vh;
}

.dm-light {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.dm-reg {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.dm-xtra {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.dm-black {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.sherika {
    font-family: 'Sherika', sans-serif;
}


@media (max-width: 460px) {
    #load-screen {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr min-content min-content;
        justify-items: center;

        width: 100vw;
        height: 100vh;
        opacity: 1;
        transition: all 0.7s ease;
        div {
            width: 93%;
            min-height: 160px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            /* gap: 14px; */
            margin-bottom: 50px;
            transition: all 1s ease;
        }
    }
    #leaf-bg-svg {
        /* margin-top: 80px; */
        width: 100vw;
        height: auto;
    }
    #canopy-text-svg {
        width: 100%;
        height: auto;
        padding-bottom: 0px;
        transition: all 0.7s ease;
        transform: translateY(0);
    }
    #start-btn {
        display: block;
        opacity: 0;
        transform: translateY(20px);
        transition: all 0.5s ease;
    }
    .logo-up #canopy-text-svg {
        transform: translateY(-15px);
    }
    .logo-up #start-btn {
        opacity: 1;
        transform: translateY(0);
    }
    .maroon-btn {
        width: 100%;
        border-radius: 9px;
        background-color: #19101A;
        border: none;
        color: #FCF0D9;
        width: 100%;
        height: 60px;
        #get-started {
            font-size: 24px;
            padding: 0;
            margin: 0;
        }
    }
    .maroon-btn:active {
        background-color: #95DB59;
        color: #19101A;
    }
    #title-bar {
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        padding: 0px 30px 0 30px;
        color: #FCF0D9;
        opacity: 0;
        transition: all 0.38s ease;
        #grid-btn {
            background: transparent;
            border: none;
            width: min-content;
            justify-self: start;
            .grid-svg {
                width: 20px;
            }
        }
        h1 {
            justify-self: center;
            font-size: 30px;
            padding: 0;
            margin: 0;
        }
        #gear-btn {
            background: transparent;
            border: none;
            width: min-content;
            justify-self: end;
            .gear-svg {
                width: 20px;
            }
        }
    }
    #home-screen {
        display: none;
        height: calc(100vh - 150px);
        margin: 0 30px;
        opacity: 0;
        transition: all 0.28s ease;
        #reminders-home {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr min-content;
            grid-template-rows: 1fr min-content;
            column-gap: 6px;
            row-gap: 8px;
            #recent-reminders {
                display: flex;
                width: 100%;
                flex-direction: column;
                gap: 6px;
                height: 180px;
                grid-column: 1 / -1;
                grid-row: 1;
                margin-top: 10px;
                overflow-y: scroll;
                scrollbar-width: none;
                h2 {
                    font-size: 13px;
                    color: #FCF0D9;
                    margin: 0;
                    padding: 0;
                }
                .reminder-card {
                    height: 50px;
                    width: 100%;
                    background-color: #19101A;
                    display: grid;
                    grid-template-columns: min-content 1fr min-content;
                    grid-template-rows: 1fr 1fr;
                    column-gap: 8px;
                    border-radius: 9px;
                    img {
                        height: 42px;
                        width: auto;
                        aspect-ratio: 1 / 1;
                        object-fit: cover;
                        grid-column: 1;
                        grid-row: 1 / -1;
                        border-radius: 6px;
                        margin-left: 4px;
                        align-self: center;
                        justify-self: start;
                    }
                    h1 {
                        grid-column: 2;
                        grid-row: 1;
                        color: #FCF0D9;
                        margin: 0;
                        padding: 0;
                        justify-self: start;
                        align-self: end;
                        margin-bottom: -6px;
                        font-size: 25px;
                    }
                    p {
                        grid-column: 2;
                        grid-row: 2;
                        color: #95DB59;
                        margin: 0;
                        padding: 0;
                        justify-self: start;
                        align-self: start;
                    }
                    div {
                        grid-column: 3;
                        grid-row: 1 / -1;
                        width: 42px;
                        height: 50px;
                        display: grid;
                        .checkbox-wrapper {
                            display: inline-flex;
                            align-items: center;
                            cursor: pointer;
                            position: relative;
                        }

                        .checkbox-wrapper input[type="checkbox"] {
                            position: absolute;
                            opacity: 0;
                            width: 0;
                            height: 0;
                        }

                        .custom-box {
                            align-self: center;
                            justify-self: center;
                            width: 30px;
                            height: 30px;
                            background: #302231;
                            border-radius: 6px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: relative;
                            transition: background 0.2s ease;
                        }

                        .custom-box svg {
                            position: absolute;
                            margin-right: -12px;
                            margin-top: -5px;
                            width: 28px;
                            height: 28px;
                            fill: none;
                            stroke: white;
                            stroke-width: 3;
                            stroke-linecap: round;
                            stroke-linejoin: round;
                            opacity: 0;
                            transform: scale(0.8);
                            transition: opacity 0.2s ease, transform 0.2s ease;
                        }

                        .checkbox-wrapper input[type="checkbox"]:checked + .custom-box svg {
                            opacity: 1;
                            transform: scale(1);
                        }
                    }
                }
            }
            #all-reminders-btn {
                height: 42px;
                border-radius: 9px;
                background-color: #19101A;
                border: none;
                color: #FCF0D9;
                grid-column: 1;
                grid-row: 2;
                p {
                    font-size: 21px;
                    padding: 0;
                    margin: 0;
                }
            }
            #add-reminder-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 42px;
                width: 42px;
                background-color: #19101A;
                border: none;
                border-radius: 9px;
                grid-column: 2;
                grid-row: 2;
                svg {
                    width: 18px;
                }
            }
        }
        #plants-home {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            column-gap: 10px;
            row-gap: 10px;
            padding-top: 14px;
            .plant-card {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: min-content min-content 1fr;
                width: 100%;
                max-height: 230px;
                border-radius: 9px;
                background-color: #FCF0D9;
                h1 {
                    justify-self: start;
                    align-self: center;
                    margin: 0;
                    padding: 0;
                    font-size: 34px;
                    color: #302231;
                    margin: 6px 0 0 7px;
                }
                p {
                    justify-self: start;
                    align-self: center;
                    margin: 0;
                    margin-top: -7px;
                    padding: 0;
                    font-size: 12px;
                    color: #6F5D71;
                    margin-left: 7px;
                    padding-bottom: 5px;
                }
                img {
                    width: calc(100% - 6px);
                    height: 166px;
                    object-fit: cover;
                    justify-self: center;
                    align-self: end;
                    border-radius: 6px;
                    margin-bottom: 3px;
                }
            }
            .template-card {
                opacity: 0;
            }
            .plant-btns {
                display: grid;
                grid-template-columns: 1fr min-content;
                grid-template-rows: 1fr min-content;
                column-gap: 6px;
                row-gap: 10px;
                #plant-number-card {
                    width: 100%;
                    height: 100%;
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr;
                    width: 100%;
                    border-radius: 9px;
                    background-color: #FCF0D9;
                    grid-column: 1 / -1;
                    grid-row: 1;
                    img {
                        width: calc(100% - 6px);
                        height: 172px;
                        object-fit: cover;
                        justify-self: center;
                        align-self: center;
                        border-radius: 6px;
                        margin-left: 0px;
                        z-index: 1;
                        grid-column: 1;
                        grid-row: 1;
                    }
                    #plant-number-overlay {
                        background-color: #19101aa9;
                        width: calc(100% - 6px);
                        height: 172px;
                        justify-self: center;
                        align-self: center;
                        border-radius: 6px;
                        margin-left: 0px;
                        display: grid;
                        z-index: 2;
                        grid-column: 1;
                        grid-row: 1;
                        border: none;
                        h1 {
                            align-self: center;
                            justify-self: center;
                            margin: 0;
                            padding: 0;
                            font-size: 34px;
                            color: #FCF0D9;
                        }
                    }
                }
                #all-plants-btn {
                    height: 42px;
                    border-radius: 9px;
                    background-color: #FCF0D9;
                    border: none;
                    color: #19101A;
                    grid-column: 1;
                    grid-row: 2;
                    p {
                        font-size: 21px;
                        padding: 0;
                        margin: 0;
                        text-wrap: nowrap;
                    }
                }
                #add-plants-btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 42px;
                    width: 42px;
                    background-color: #95DB59;
                    border: none;
                    border-radius: 9px;
                    grid-column: 2;
                    grid-row: 2;
                    svg {
                        width: 18px;
                    }
                }
            }
        }
    }
    #plant-screen {
        display: none;
        margin: 0 30px;
        opacity: 0;
        transition: all 0.28s ease;
        height: calc(100vh - 97px);
        overflow-y: scroll;
        scrollbar-width: none;
        #plants-list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: min-content;
            column-gap: 10px;
            row-gap: 10px;
            padding-top: 14px;
            padding-bottom: 20px;
            .plant-card {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: min-content min-content 1fr;
                width: 100%;
                max-height: 230px;
                border-radius: 9px;
                background-color: #FCF0D9;
                h1 {
                    justify-self: start;
                    align-self: center;
                    margin: 0;
                    padding: 0;
                    font-size: 34px;
                    color: #302231;
                    margin: 6px 0 0 7px;
                }
                p {
                    justify-self: start;
                    align-self: center;
                    margin: 0;
                    margin-top: -7px;
                    padding: 0;
                    font-size: 12px;
                    color: #6F5D71;
                    margin-left: 7px;
                    padding-bottom: 5px;
                }
                img {
                    width: calc(100% - 6px);
                    height: 166px;
                    object-fit: cover;
                    justify-self: center;
                    align-self: end;
                    border-radius: 6px;
                    margin-bottom: 3px;
                }
            }
        }
        #all-plant-bottom {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 46px;
            background: #302231;
            background: linear-gradient(180deg, rgba(48, 34, 49, 0) 0%, rgba(48, 34, 49, 1) 100%);
            display: flex;
            justify-content: end;
            align-items: end;
            #plant-screen-add-btn {
                -webkit-box-shadow: 0px 0px 24px 0px rgba(38,28,39,0.83); 
                box-shadow: 0px 0px 24px 0px rgba(38,28,39,0.83);
                margin-bottom: 42px;
                margin-right: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 58px;
                width: 58px;
                background-color: #95DB59;
                border: none;
                border-radius: 16px;
                grid-column: 2;
                grid-row: 2;
                svg {
                    width: 100px;
                }
            }
        }

    }
    #plant-info {
        display: none;
        grid-template-rows: min-content 1fr min-content;
        height: 100%;
        margin: 45px 35px 35px 35px;
        opacity: 0;
        transition: all 0.28s ease;
        overflow: hidden;
        scrollbar-width: none;
        #plant-img {
            width: 100%;
            aspect-ratio: 1 / 1;
            max-height: 300px;
            border-radius: 35px;
            background-image: url("/images/template-plant.webp");
            background-size: cover;
            display: flex;
            justify-content: space-between;
            #plant-grid-cont {
                margin-top: 16px;
                margin-left: 16px;
                width: 43px;
                height: 43px;
                border-radius: 14px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #19101A;
                #plant-grid-btn {
                    margin: 2px 0 0 1px;
                    background: transparent;
                    border: none;
                    width: min-content;
                    justify-self: start;
                    .grid-svg {
                        fill: #95DB59;
                    }
                }
            }
            #plant-delete-cont {            
                margin-top: 16px;
                margin-right: 16px;
                width: 43px;
                height: 43px;
                border-radius: 14px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #95DB59;
                #plant-delete-btn {
                    margin: 2px 0 0 1px;
                    background: transparent;
                    border: none;
                    width: min-content;
                    justify-self: end;
                    .delete-svg {
                        fill: #19101A;
                    }
                }
            }
        }
        #plant-text {
            margin-top: 10px;
            #plant-name {
                display: grid;
                grid-template-rows: min-content min-content min-content;
                grid-template-columns: 1fr min-content;
                column-gap: 10px;
                row-gap: 10px;
                h1 {
                    color: #FCF0D9;
                    font-size: 50px;
                    grid-row: 1;
                    grid-column: 1;
                    margin: 0;
                    padding: 0;
                    margin-bottom: -18px;
                }
                #health-check {
                    grid-row: 1 / 3;
                    grid-column: 2;
                    align-self: end;
                    justify-self: center;
                    background-color: transparent;
                    border: none;
                    width: auto;
                    height: 100%;
                    aspect-ratio: 1 / 1;
                    background-color: #19101A;
                    border-radius: 9px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    svg {
                        width: 45px;
                        fill: #95DB59;
                    }
                }
                p {
                    color: #95DB59;
                    font-size: 14px;
                    grid-row: 2;
                    grid-column: 1 / -1;
                    margin: 0;
                    padding: 0;
                }
                #plant-journal {
                    width: 100%;
                    height: 42px;
                    background-color: #19101A;
                    border: none;
                    border-radius: 9px;
                    grid-row: 3;
                    grid-column: 1 / -1;
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    justify-content: center;
                    padding-top: 3px;
                    svg {
                        fill: #95DB59;
                        width: 16px;
                    }
                    h2 {
                        font-size: 21px;
                        color: #FCF0D9;
                        margin: 0;
                        padding: 0;
                    }
                }
            }
            #plant-care {
                display: grid;
                grid-template-columns: 1fr min-content;
                grid-template-rows: min-content 1fr;
                row-gap: 10px;
                column-gap: 16px;
                margin-top: 15px;
                h1 {
                    font-size: 18px;
                    color: #95DB59;
                    margin: 0;
                    padding: 0;
                    grid-column: 1 / -1;
                    grid-row: 1;
                }
                p {
                    font-size: 13px;
                    color: #FCF0D9;
                    margin: 0;
                    padding: 0;
                    grid-column: 1;
                    grid-row: 2;
                }
                button {
                    background-color: #95DB59;
                    border: none;
                    border-radius: 9px;
                    width: 28px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    grid-column: 2;
                    grid-row: 2;
                    svg {
                        margin-left: 2px;
                        width: 16px;
                        fill: #302231;
                    }
                }
            }
        }
        #plant-reminders-sect {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            row-gap: 8px;
            margin-top: 20px;
            .plant-reminder {
                width: 100%;
                background-color: #19101A;
                height: 42px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 9px;
                p {
                    color: #FCF0D9;
                    font-size: 18px;
                    margin: 0;
                    padding: 0;
                }
                div {
                    width: 45px;
                    height: 28px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 9px;
                    background-color: #302231;
                    h1 {
                        color: #95DB59;
                        font-size: 21px;
                        margin: 0;
                        padding: 0;
                        margin-bottom: -5px;
                    }
                }
            }
        }
    }
    #add-plant-card {
        display: none;
        z-index: 4000;
        opacity: 0;
        position: absolute;
        top: 100vh;
        bottom: auto;
        width: 100%;
        border-radius: 9px 9px 0 0;
        background-color: #19101A;
        /* height: min-content; */

        height: auto;

        transition: all 0.18s ease;
        -webkit-box-shadow: 0px 0px 24px 0px rgba(38,28,39,0.83); 
        box-shadow: 0px 0px 24px 0px rgba(38,28,39,0.83);
        max-height: 65vh;
        #add-plant-close {
            margin-top: 10px;
            align-self: center;
            justify-self: center;
            /* margin: 18px 24px 42px 24px; */
            width: calc(100% - 44px);
            display: flex;
            justify-content: flex-end;
            button {
                background-color: transparent;
                border: none;
                right: 24px;
                top: 18px;
            }
        }
        #add-plant-image {
            justify-self: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            width: calc(100% - 194px);
            margin-bottom: 45px;
            transition: all .18s ease;
            opacity: 1;
                button {
                    width: 208px;
                    height: 42px;
                    background-color: #302231;
                    border: none;
                    border-radius: 9px;
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    justify-content: center;
                    padding-top: 3px;
                    svg {
                        fill: #95DB59;
                        width: 21px;
                    }
                    h2 {
                        height: 23px;
                        font-size: 21px;
                        color: #FCF0D9;
                        margin: 0;
                        padding: 0;
                    }
                }
                #add-camera {

                }
                #add-photo {

                }
        }
        #plant-loading {
            display: none;
            opacity: 0;
            transition: all .2s ease;
            justify-items: center;
            padding-bottom: 30px;
            div {
                display: grid;
                justify-items: center;
            }
            p {
                color: #FCF0D9;
            }
        }
        #add-plant-info {
            justify-self: center;
            display: none;
            opacity: 0;
            width: calc(100% - 120px);
            transition: all .18s ease;
            row-gap: 14px;
            #plant-type-sect {
                display: grid;
                grid-template-columns: min-content 1fr;
                grid-template-rows: min-content min-content;
                /* row-gap: 8px; */
                column-gap: 10px;
                #user-photo {
                    background-color: #302231;
                    width: 62px;
                    height: 62px;
                    border-radius: 11px;
                    grid-column: 1;
                    grid-row: 1 / -1;
                    display: grid;
                    img {
                        justify-self: center;
                        align-self: center;
                        border-radius: 6px;
                        width: 80%;
                        height: auto;
                        aspect-ratio: 1 / 1;
                    }
                }
                h2 {
                    font-size: 18px;
                    color: #95DB59;
                    margin: 0;
                    padding: 0;
                    grid-column: 2;
                    grid-row: 1;
                    align-self: end;
                }
                p {
                    font-size: 14px;
                    color: #6F5D71;
                    margin: 0;
                    padding: 0;
                    text-decoration: underline;
                    grid-column: 2;
                    grid-row: 2;
                    align-self: start;
                }
            }
            #plant-name {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8px;
                svg {

                }
                input {
                    background-color: #302231;
                    border: none;
                    font-size: 21px;
                    color: #FCF0D9;
                    width: 100%;
                    border-radius: 9px;
                    height: 30px;
                    padding: 6px 15px;
                    text-transform: lowercase;
                }
                input::placeholder {
                    color: #FCF0D9;
                    opacity: 1;
                }
            }
            #plant-care-text {
                display: grid;
                row-gap: 8px;
                width: 100%;
                h2 {
                    font-size: 18px;
                    color: #95DB59;
                    margin: 0;
                    padding: 0;
                }
                p {
                    font-size: 12px;
                    color: #FCF0D9;
                    margin: 0;
                    padding: 0;
                }
                button {
                    margin-top: 10px;
                    margin-bottom: 45px;
                    background-color: #95DB59;
                    border: none;
                    width: 100%;
                    border-radius: 9px;
                    height: 42px;
                    display: grid;
                    h1 {
                        justify-self: center;
                        align-self: center;
                        font-size: 21px;
                        color: #302231;
                        height: 23px;
                        padding: 0;
                        margin: 0;
                    }
                }
            }
        }
    }
    #reminders-screen {
        display: none;
        #recent-reminders-page {
            anchor-name: --recent-reminders-page;
            display: flex;
            width: 82%;
            justify-self: center;
            flex-direction: column;
            gap: 6px;
            height: 210px;
            grid-column: 1 / -1;
            grid-row: 1;
            margin-top: 10px;
            overflow-y: scroll;
            scrollbar-width: none;
            h2 {
                font-size: 13px;
                color: #FCF0D9;
                margin: 0;
                padding: 0;
            }
            .reminder-card {
                height: 50px;
                width: 100%;
                background-color: #19101A;
                display: grid;
                grid-template-columns: min-content 1fr min-content;
                grid-template-rows: 1fr 1fr;
                column-gap: 8px;
                border-radius: 9px;
                img {
                    height: 42px;
                    width: auto;
                    aspect-ratio: 1 / 1;
                    object-fit: cover;
                    grid-column: 1;
                    grid-row: 1 / -1;
                    border-radius: 6px;
                    margin-left: 4px;
                    align-self: center;
                    justify-self: start;
                }
                h1 {
                    grid-column: 2;
                    grid-row: 1;
                    color: #FCF0D9;
                    margin: 0;
                    padding: 0;
                    justify-self: start;
                    align-self: end;
                    margin-bottom: -6px;
                    font-size: 25px;
                }
                p {
                    grid-column: 2;
                    grid-row: 2;
                    color: #95DB59;
                    margin: 0;
                    padding: 0;
                    justify-self: start;
                    align-self: start;
                }
                div {
                    grid-column: 3;
                    grid-row: 1 / -1;
                    width: 42px;
                    height: 50px;
                    display: grid;
                    .checkbox-wrapper {
                        display: inline-flex;
                        align-items: center;
                        cursor: pointer;
                        position: relative;
                    }

                    .checkbox-wrapper input[type="checkbox"] {
                        position: absolute;
                        opacity: 0;
                        width: 0;
                        height: 0;
                    }

                    .custom-box {
                        align-self: center;
                        justify-self: center;
                        width: 30px;
                        height: 30px;
                        background: #302231;
                        border-radius: 6px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        transition: background 0.2s ease;
                    }

                    .custom-box svg {
                        position: absolute;
                        margin-right: -12px;
                        margin-top: -5px;
                        width: 28px;
                        height: 28px;
                        fill: none;
                        stroke: white;
                        stroke-width: 3;
                        stroke-linecap: round;
                        stroke-linejoin: round;
                        opacity: 0;
                        transform: scale(0.8);
                        transition: opacity 0.2s ease, transform 0.2s ease;
                    }

                    .checkbox-wrapper input[type="checkbox"]:checked + .custom-box svg {
                        opacity: 1;
                        transform: scale(1);
                    }
                }
            }
        }
        #calendar-header {
            justify-self: center;
            width: 82%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #95DB59;
            button {
                background-color: transparent;
                border: none;
            }
        }
        #calendar-weekdays, #calendar-days {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            text-align: center;
            color: #FCF0D9;
            width: 82%;
            justify-self: center;
        }
        hr {
            background-color: #19101A;
            border: none;
            height: 3.5px;
            border-radius: 10px;
            width: 82%;
        }
        #calendar-weekdays div {
            font-weight: bold;
            padding: 5px 0;
            font-size: 12px;
        }
        .calendar-day {
            aspect-ratio: 1 / 1;
            cursor: pointer;
            position: relative;
            color: #FCF0D9;
            font-size: 18px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .dots-container {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 10px;
                margin-top: -14px;
                .dot {
                    margin-top: 25px;
                }
            }
        }
        .calendar-day.selected {
            background-color: #95DB59;
            border-radius: 50%;
            color: #19101A;
            .dots-container {
                .dot {
                    display: none;
                }
            }
        }
        .dot {
            height: 6px;
            width: 6px;
            background-color: #95DB59;
            border-radius: 50%;
            display: inline-block;
            margin: 0 1px;
        }
        .dots-container {
            margin-top: 4px;
        }
        #add-event-btn {
            height: 42px;
            border-radius: 9px;
            background-color: #19101A;
            border: none;
            color: #FCF0D9;
            font-size: 21px;
            width: 82%;
            justify-self: center;
            padding-top: 6px;
        }
        #day-reminders {
            margin: 10px 0 20px;
            width: 100%;
            justify-self: center;
            overflow-x: hidden;
            #day-reminder-cont {
                display: flex;
                gap: 12px;
                overflow-x: scroll;
                padding-left: 9%;
                padding-right: 9%;
                scrollbar-width: none;
                .day-reminder-card {
                    display: grid;
                    min-width: 170px;
                    background-color: #19101A;
                    border-radius: 9px;
                    h1 {
                        margin: 0;
                        padding: 5px 0;
                        justify-self: center;
                        font-size: 18px;
                        color: #FCF0D9;
                    }
                    div {
                        display: grid;
                        background-color: #302231;
                        margin: 0 7px 7px 7px;
                        border-radius: 5px;
                        h1 {
                            margin: 0;
                            padding: 8px 0 2px;
                            font-size: 21px;
                            color: #95DB59;
                            justify-self: center;
                        }
                    }
                }
            }
        }
    }
    #add-reminder-card {
        display: none;
        z-index: 4000;
        opacity: 0;
        position: absolute;
        top: 100vh;
        bottom: auto;
        width: 100%;
        border-radius: 9px 9px 0 0;
        background-color: #19101A;
        /* height: min-content; */

        height: auto;

        transition: all 0.18s ease;
        -webkit-box-shadow: 0px 0px 24px 0px rgba(38,28,39,0.83); 
        box-shadow: 0px 0px 24px 0px rgba(38,28,39,0.83);
        max-height: 60vh;
        #add-reminder-close {
            margin-top: 10px;
            align-self: center;
            justify-self: center;
            /* margin: 18px 24px 42px 24px; */
            width: calc(100% - 44px);
            display: flex;
            justify-content: flex-end;
            button {
                background-color: transparent;
                border: none;
                right: 24px;
                top: 18px;
            }
        }
        #event-list {
            margin-top: 15px;
        }
        #add-event-form {
            width: 100%;
            max-width: 250px;
            display: flex;
            flex-direction: column;
            margin: 20px auto 50px auto;
            gap: 20px;
            #event-type {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 2px;
                button {
                    background-color: #302231;
                    color: #FCF0D9;
                    border: none;
                    font-size: 16px;
                    padding: 12px 0;
                }
                button.selected {
                    background-color: #95DB59 !important;
                    color: #19101A;
                }
                button:first-child {
                    border-radius: 8px 0 0 8px;
                }
                button:last-child {
                    border-radius: 0px 8px 8px 0px;
                }
            }
            select {
                border: none;
                background-color: #FCF0D9;
                padding: 10px 0 8px 10px;
                font-size: 20px;
                border-radius: 8px;
                appearance: none;
                option {
                    font-size: 16px;
                    hyphens: none;
                }
                option:default {
                    hyphens: none;
                }
            }
            input {
                margin-left: -15px;
                background-color: #302231;
                border: none;
                font-size: 21px;
                color: #FCF0D9;
                width: 100%;
                border-radius: 9px;
                height: 30px;
                padding: 6px 15px;
                text-transform: lowercase;
            }
            input::placeholder {
                color: #FCF0D9;
                opacity: 1;
            }
            #save-event-btn {
                width: 100%;
                height: 42px;
                background-color: #95DB59;
                border: none;
                border-radius: 9px;
                display: flex;
                gap: 10px;
                align-items: center;
                justify-content: center;
                padding-top: 3px;
                font-size: 21px;
                color: #19101A;
                margin-top: 10px;
            }
        }
    }
    #full-instructions {
        display: none;
        opacity: 0;
        background-color: #19101A;
        width: 85%;
        height: 85%;
        position: absolute;
        justify-self: center;
        align-self: center;
        top: 10%;
        z-index: 3000;
        border-radius: 15px;
        grid-template-columns: 1fr min-content;
        grid-template-rows: min-content 1fr;
        transition: all .15s ease;
        h1 {
            color: #FCF0D9;
            font-size: 24px;
            text-decoration: underline;
            margin: 0;
            align-self: center;
            padding: 15px 20px;
        }
        #full-overlay {
            z-index: 4000;
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 15px;
            background: linear-gradient(0deg, rgba(25, 16, 26, 1) 2%, rgba(25, 16, 26, 0) 30%);
            pointer-events: none;
        }
        #full-instructions-cont {
            overflow-y: scroll;
            grid-column: 1 / -1;
            grid-row: 2;
            padding: 0 20px;
            padding-bottom: 120px;
            #full-instructions-content {
                color: #FCF0D9;
                margin: 0;
            }
        }
        #full-close {
            background-color: transparent;
            width: min-content;
            height: min-content;
            border: none;
            grid-column: 2;
            grid-row: 1;
            align-self: center;
            padding-right: 15px;
        }
    }
    #screen-blur {
        position: absolute;
        display: none;
        opacity: 0;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: 2000;
        backdrop-filter: blur(6px);
        transition: all .35s ease;
    }
    #plant-delete-card {
        display: none;
        opacity: 0;
        position: absolute;
        align-self: center;
        justify-self: center;
        top: 50%;
        background-color: #19101A;
        color: #FCF0D9;
        justify-items: center;
        row-gap: 15px;
        column-gap: 15px;
        border-radius: 16px;
        padding: 27px 32px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr min-content;
        z-index: 3000;
        transition: all .2s ease;
        p {
            margin: 0;
            font-size: 18px;
            padding-bottom: 5px;
            grid-column: 1 / -1;
            grid-row: 1;
        }
        button {
            width: 100px;
            border: none;
            font-size: 16px;
            padding: 9px 0;
            border-radius: 6px;
            margin: 0;
            letter-spacing: 0.8px;
        }
        #no-delete-btn {
            background-color: #FCF0D9;
            color: #19101A;
        }
        #yes-delete-btn {
            background-color: rgb(184, 23, 76);
            color: #FCF0D9;
        }
    }
    #reminder-edit-card {
        display: none;
        opacity: 0;
        position: absolute;
        align-self: center;
        justify-self: center;
        top: 50%;
        background-color: #19101A;
        color: #FCF0D9;
        justify-items: center;
        row-gap: 15px;
        column-gap: 15px;
        border-radius: 16px;
        padding: 27px 32px;
        grid-template-columns: 1fr 1fr;
        z-index: 3000;
        transition: all .2s ease;
        button {
            width: 100px;
            border: none;
            font-size: 16px;
            padding: 9px 0;
            border-radius: 6px;
            margin: 0;
            letter-spacing: 0.8px;
        }
        #reminder-card-close {
            background-color: #FCF0D9;
            color: #19101A;
        }
        #reminder-delete-btn {
            background-color: rgb(184, 23, 76);
            color: #FCF0D9;
        }
    }
}

input[type="time"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

input[type="time"] {
    background-image: url("../images/clock.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 10px);
    background-size: 30px;
    padding-right: 30px;
}

#fade-overlay-1 {
  position: absolute;
  align-self: end;
  justify-self: center;
  margin-bottom: 50px;
  width: 100%;
  height: 50px;
  z-index: 4000;
  pointer-events: none;
  background: linear-gradient(0deg,rgba(48, 34, 49, 1) 0%, rgba(48, 34, 49, 0) 46%);
}

#fade-overlay-2 {
  position: absolute;
  align-self: start;
  justify-self: center;
  position-anchor: --recent-reminders-page;
  margin-top: calc(anchor-size(height) - 39px);
  width: 100%;
  height: 50px;
  z-index: 4000;
  pointer-events: none;
  background: linear-gradient(0deg,rgba(48, 34, 49, 1) 0%, rgba(48, 34, 49, 0) 46%);
}

.dot-number {
    position: absolute;
    bottom: 4px;
    right: 4px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #95DB59;
    color: #19101A;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
}

.calendar-day.selected .dot-number {
  display: none;
}

.completed-dot {
    background-color: #19101A;
    color: #95DB59;
}